<div class="container">
<% @cards.each do |card| %>
    <div class="card">
        <div class="card-body d-flex justify-content-around">
            <div>
                <strong>Card Number</strong><br />
                <%= card.card_number%>
            </div>
            <div>
                <strong>Name</strong><br />
                <%= card.card_holder_name%>
            </div>
            <div>
                <strong>Expiry</strong> <br />
                <%= card.expiry%>
            </div>
            <div>
                <a class="btn btn-primary" data-method="delete" href="/card/delete/<%=card.id %>" " ><i class="bi bi-trash"></i></a>
                <a class="btn btn-info" href="/card/edit/<%=card.id %>"><i class="bi bi-pencil-fill"></i></a>
            </div>
        </div>
    </div>
    
<%end%>
</div>